# Copy this file to .env and fill in the required fields.
# Do not commit .env to version control.
# Ask your team for the correct values

URL = 'https://salmon-island-01be9bf1e-staging.westus2.5.azurestaticapps.net/inventory'
ADMIN_USERNAME = 
ADMIN_PASSWORD = 

VOLUNTEER_USERNAME = 
VOLUNTEER_PASSWORD = 