VITE_REACT_APP_VERSION=18.2.0
VITE_APPLICATION_NAME=Plymouth Housing
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_MAP_STYLE=https://api.maptiler.com/maps/basic-v2/style.json
VITE_MAPTILER_API_KEY=
VITE_ADMIN_EMAIL=example@com
VITE_ADMIN_PHONE_NUMBER=222-222-2222
